db:
  dsn: dev:dev123456@tcp(192.168.188.233:3306)/loan?charset=utf8mb4&parseTime=True&loc=UTC
leo:
  rpc: https://api.explorer.provable.com/v1
  net: testnet
  holder: aleo14s8rn8km6uqwatevtk9qyf6vut0vuce398ghklqggmvrfskr7cxsrx5p7a
  holder_pk :
bsc:
  rpc: https://bsc-testnet-rpc.publicnode.com
  chain_id: 97
  usdt: 0x848be47C7514084B4950EC8345F4041D7B7dCb47
  dinar: 0x6517763013fF1C472039c21c3Cf0b2645A8cdc45
  loan_contract: 0x15dD7A4580A0523215bB1ae8B00f1Aa4D93ae308
  caller:
service:
  port: 8899
job:
  aleo_price: 0 * * * * ?
  calculate_rate: 0 0 0 * * ?
  calculate_income: 0 0 0 * * ?
  calculate_income_year_rate: 0 0 1 * * ?
  check_failed_jobs: 0 0 2/4 * * ?
  check_expired_loans: 0 0 * * * ?
log:
  level: debug
platform:
  receive_address: 0x4332B66D46761476B0A50A2F12EE6a17DaCe7247
gomail:
  email:
  account:
  password:
gateio:
  api_key:
  secret_key:
